[2014-06-23 10:54] anujc opened #2 "Published to azurewebsites but signout redirects the user to localhost instead of azurewebsites"
I published the sample to azurewebsites.net. Verified that the sign-on url and reply url point to azurewebsites. However, sign out redirects the user to https://localhost:44320/
Looking at the trace, https://login.windows.net/4230aed9-7637-438c-8bca-8ceaa93806f6/oauth2/logoutredirect?lc=1033 redirects to https://localhost:44320/

[2014-06-23 11:48] anujc opened #3 "Published to IIS such that the site is not deployed at the root level and after login the user is redirected to the root url instead of the site url"
I published the sample to IIS such that the site is not deployed at the root level. e.g. https://server/sites/sample and user is redirected to the root url (https://server) instead of the site url (https://server/sites/sample)

I could be wrong but it looks like the issue occurs because of Redirect url is specified as the root url "/"
public void SignIn()
        {
            // Send an OpenID Co

[2014-06-23 12:23] anujc opened #4 "Cannot find nugets Microsoft.Owin.Security.OpenIdConnect and Microsoft.IdentityModel.Protocol.Extensions mentioned in How to recreate this sample"
I am following step 4 in How to recreate this sample but couldn't find nugets Microsoft.Owin.Security.OpenIdConnect and Microsoft.IdentityModel.Protocol.Extensions

[2014-08-12 07:11] htuomola opened #5 "The latest version references unreleased NuGet packages"
Hi, the latest version (at least commit 44ccb26c5aa) references Owin package versions 3.0.0-rc3-30804-135-rel but that cannot be found from https://www.nuget.org/packages/Microsoft.Owin/. Changing the versions to 3.0.0-rc2 seems to at least allow package restore and build of the solution.

[2014-08-13 00:06] #5 closed, assigned to nobody

[2014-08-26 08:47] xmichaelx opened #6 "Nuget Microsoft.IdentityModel.Clients.ActiveDirectory missing in "How To Recreate This Sample""
As of today it needs to be a preinstalled version, otherwise it's gonna have missing classes like TokenCache, TokenCacheItem, TokenCacheNotificationArgs.

Install-Package Microsoft.IdentityModel.Clients.ActiveDirectory -Pre

Awesome tutorials BTW :+1:

[2014-08-26 15:41] #6 closed, assigned to nobody

[2014-09-18 17:19] skwan opened #8 "Danny's tenant particulars are still in web.config"
These need to be rinsed out. :-)

[code]

[2014-09-18 21:59] #8 closed, assigned to nobody

[2014-10-24 02:14] robdmoore opened #10 "Doesn't seem to work?"
Hi,

I cloned the code, added in my variables to web.config and ran the app. When I click on Sign In it redirects me to Azure AD, I entered the credentials, it redirected me back and I got a 401 unauthorised error and I have no cookie.

Any idea what I could have done wrong?

Also, if I put `[Authorize]` on the controller it doesn't redirect me to Azure AD at all, it just gives me a 401.

While I

[2014-11-04 18:16] michaeldtaylor opened #11 "System.Threading.Tasks.TaskCanceledException"
Have created the Azure stuff as outlined. Client ID and Tenant is correct in Web.config.

When I rebuild and run a clean clone, with the correct changes to Web.config I get:

[TaskCanceledException: A task was canceled.]
   System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) +3897114
   System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task t

[2014-12-12 00:27] anujc opened #12 "Infinite loop on adding Authorize attribute to Home Controller"
I added Authorize attribute to Home Controller and made no other changes.
I then deployed it to azurewebsites
I am was able to login fine for few minutes
After that if I try to login to the site InPrivate, I see an infinite loop where the app redirects to login.windows.net, receives an auth code and again redirects to login.windows.net

I am not an admin on the tenant where I created an app. I am

[2015-01-04 19:55] itaysk commented on #11
I am having the same issue.
I get this exact same error on IE and FF.
On chrome I can get to the AAD sign in page, get past it, and when being redirected back to my app, it fails without this error, just general browser error.
Any suggestions?

[2015-01-04 20:16] itaysk commented on #11
Please make sure that you follow the instructions in the Readme file carefully. Especially, misconfiguring the "REPLY URL" in the App's settings might cause the issue you describe.

[2015-01-08 19:20] Dismissile opened #13 "App is allowing access even if user is not assigned"
I configured the application following the tutorial and added a new user to the directory. If I go to the Application in the Azure portal and go to the Users section, I see the user I added to the directory and the Assigned status is set to No, but I am still able to sign in with this user and access the application. What is the purpose of the Assigned flag if it does not prevent them from accessi

[2015-01-22 18:42] gkrilov opened #14 "Making this work for microsoft accounts"
I noticed in the steps you mention that "This sample will not work with a Microsoft account"

Do you know of any way to make the initial login page work for custom domain microsoft accounts such as - something@mydomain.com? One of the option in the azure domain add user is to add an existing microsoft account.. so why dont they provide an easy way to login with such accounts??

Or maybe make it so

[2015-01-22 18:47] skwan commented on #13
Currently, the assigned flag will put the app onto the user's access panel.  It does not block who can access the application - this is functionality we are working on.

[2015-01-22 18:47] #13 closed

[2015-01-22 18:49] Dismissile commented on #13
Hi Stuart. Thanks for responding.
So if I am understanding correctly, right now any authorization rules need to be handled on a per application basis? It cannot be controlled via the directory?

Travis Ellis
Solution Consultant
Office: 402.238.1399 x117
Mobile: 402.415.6398
Deliveron Consulting Services
[cid:image015.png@01CF0620.0729E520]<http://www.deliveron.com/>

[cid:image016.png@01CF0620.072

[2015-01-22 19:32] skwan commented on #14
We don't support Microsoft accounts in this type of application yet, even if the user is added as Guest in the directory.  Stay tuned, we are working on this capability.

[2015-01-22 19:32] #14 closed

[2015-01-22 19:32] skwan commented on #13
That's correct - you must handle authorization in your application right now.

[2015-02-24 05:19] skwan opened #15 "Update readme to include more ways you can get Azure AD"
We should update the readme to talk about using an Azure AD you might already have, e.g. associated with your Office 365 subscription.  Plus the link below needs updating.

---

How To Run This Sample

Getting started is simple! To run this sample you will need:

Visual Studio 2013
An Internet connection
An Azure subscription (a free trial is sufficient)
Every Azure subscription has an associated

[2015-05-01 02:53] skwan opened #16 "Unneeded reference to ADAL?"
After I forked the repro and built it, I got these compiler warnings.  But ADAL is not needed in this project.

1>C:\Program Files (x86)\MSBuild\12.0\bin\Microsoft.Common.CurrentVersion.targets(1697,5): warning MSB3245: Could not resolve this reference. Could not locate the assembly "Microsoft.IdentityModel.Clients.ActiveDirectory". Check to make sure the assembly exists on disk. If this reference

[2015-05-05 20:59] dstrockis commented on #16
Fixed.

[2015-05-05 20:59] #16 closed

[2015-05-09 16:42] edrohler opened #17 "Root Level Web.config points to https://login.mircosoftonline.com"
This sample works after you change the ida:AADInstance value to login.windows.net{0} in the root level web.config.

[2015-05-11 19:32] dstrockis commented on #17
Hi Eric - this is by design.  https://login.microsoftonline.com should work. What error were you seeing?

[2015-05-13 02:05] edrohler commented on #17
I can't really recall but I think it would read that unable to access remote host login.microsoftonline.com.. Or something like that. I was using a pure MVC 4.5.2 application.

[2015-05-28 03:26] levalencia commented on #12
I have the exact same problem, any idea?

[2015-06-11 10:17] AmitJain06 opened #18 "Sign Out does not work"
I implement the entire code, but sign out is not working. After sign out i can access the Authorized resources.

Only 1st time sign in only required by this code , that is completely wrong.

[2015-06-11 18:56] dinobud commented on #18
I am also having this issue. Sign out just loops back to previous page still fully authenticated. I presume it might take some sort of force clearing the sign in cookie.

[2015-06-12 11:16] AmitJain06 commented on #18
finally, I solve it... Basically it related to user role in azure active directory. For Admin user there is no need to login again and again (until browser is not closed), but other user have to sign in with its credential, every time.

My means to say , there is no issue with the code, only user permission is the issue, for non admin user this works, as i want.

[2015-06-23 14:29] apozgaj commented on #12
I have the same problem as well. I have some fiddler logs that I can send you; just let me know.

However, in Fiddler one can see requests to login.windows.net. The thing is that at I can see the right identity in OpenId Connect Notifications but during debugging I can see that it never exits from the part of code that handles those notifications.

Currently I have custom Authorize Attribute that

[2015-06-23 14:59] dstrockis commented on #12
@apozgaj if you could send over the fiddler trace that would be great - please make sure they have the requests to login.windows.net included, you should be able to see them if you have https decryption turned on.

You shouldn't need a custom authorize attribute - that fix is specific to sites that are doing role-based authorization.  This problem is more likely due to cookie buildup or something

[2015-06-23 18:44] apozgaj commented on #12
@dstrockis I've sent you fiddler logs.

In fact, I must admit that I'm using RBAC app from Azure AD samples. Apologies for posting question here but If you want, I can open it under the "Role Based WebApp with OpenId Connect".

The reason for asking question here is because I have the exact same problem.

In more detailed - the issue is bit hard to reproduce... It happens mostly when you create a

[2015-06-23 18:50] dstrockis commented on #12
Saw your mail, thanks. I'll have a look as soon as I can.

[2015-06-23 19:25] levalencia commented on #12
not sure if this helps, but I was able to make it work with VS 2013, with 2015 is still the same problem.

http://www.luisevalencia.com/2015/06/02/using-azure-aad-graph-office-365-add-in-with-groups-authorization/

https://github.com/OfficeDev/PnP/tree/master/Samples/AzureAD.GroupAuthorization

[2015-06-23 19:31] dstrockis commented on #12
Thanks @levalencia.... Your blog there does indeed address an infinite loop issue.  However, I'm not sure the issue here is the same root cause as the one you've solved.  They just both result in an infinite loop... I'll have to check the Fiddler to get a better idea.

[2015-06-23 19:39] apozgaj commented on #12
@levalencia i think the code from your blog also refers to this blog: http://www.dushyantgill.com/blog/2014/12/10/roles-based-access-control-in-cloud-applications-using-azure-ad/

and I've implemented that as well... However, I was still getting infinite loop occasionally. The thing I see is that in AuthorizatioCodeReceived I see the right identity from AAD but in my Authorize Attribute it still e

[2015-06-29 09:24] apozgaj commented on #12
I hope this will help someone in the future;

It looks like the infinite loop problem went away by implementing two things:
- Kentor CookieSaver
- RequireHttps module

There are plenty of resources for these two things so I will not place any links right now.

LLaP

[2015-06-29 19:18] levalencia commented on #12
How was it implemented? Please ecplain

-----Mensaje original-----
De: "apozgaj" <notifications@github.com>
Enviado el: ‎29/‎06/‎2015 4:24 a. m.
Para: "AzureADSamples/WebApp-OpenIDConnect-DotNet" <WebApp-OpenIDConnect-DotNet@noreply.github.com>
CC: "levalencia" <luise.valencia@gmail.com>
Asunto: Re: [WebApp-OpenIDConnect-DotNet] Infinite loop on adding Authorizeattribute to Home Controller (#12)

[2015-06-30 18:13] apozgaj commented on #12
Install Kentor Cookie Saver via Nuget and add following line:

app.SetDefaultSignInAsAuthenticationType(CookieAuthenticationDefaults.AuthenticationType);
**app.UseKentorOwinCookieSaver();**
app.UseCookieAuthentication(new CookieAuthenticationOptions() { CookieSecure = CookieSecureOption.Always });

In order to force application to require HTTPS you can:
1) add following in Global.asax:
GlobalFilte

[2015-07-01 16:15] dstrockis commented on #12
Thanks @apozgaj.  Just for the record, the Kentor Owin Cookie Saver addresses this known issue in the OWIN middleware: https://katanaproject.codeplex.com/workitem/197

[2015-08-17 22:42] fujiy opened #19 "Multiple Reply-Url's"
In development time I want my application posting back to localhost on login, but it just consider the first reply-url configured at my AD App.

Is it expected? There is any workaround?

[2015-08-17 23:07] fujiy opened #20 "Doesn't show the user name"
When I sign in, the header shows:

Hello live.com#myemail@hotmail.com!

How can I show the real name?

[2015-08-17 23:10] fujiy opened #21 "First login always fail"
When I login, the  browser stops at https://login.microsoftonline.com/login.srf showing just a #

So when I try again, it doesn't asks for credentials, just posts back and works

[2015-08-17 23:29] dstrockis commented on #20
Hey @fujiy - there's kind of 2 ways to do this.

1) Use `ClaimsPrincipal.Current.Identity.Claims` to directly pull out information from the claims in your controller.

2) In the `OpenIDConnectAuthenticationOptions`, set `TokenValidationParameters` to a new instance of the `TokenValidationParameters` class, and set the `NameClaimType` property to the claim that you want to use as the `User.Identity

[2015-08-17 23:30] dstrockis commented on #21
That's weird. Can you provide a Fiddler trace or other trace?  What browser?

[2015-08-17 23:40] fujiy commented on #20
Thanks!

Another question. This values can change? Because I was using TokenValidationParameters like here: https://github.com/AzureADSamples/WebApp-RoleClaims-DotNet/blob/master/WebApp-RoleClaims-DotNet/App_Start/Startup.Auth.cs

But after packages update I needed to change

RoleClaimType = "roles"

To

RoleClaimType = "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"

Very thanks

[2015-08-17 23:41] fujiy commented on #21
I just realized that it also happens when login in to Azure Portal. It should be a Microsoft sign on issue

[2015-08-18 00:06] dstrockis commented on #20
No, it shouldn't change.  That role claim mapping is a point-in-time fix we had to make.  But generally they should remain constant for you.

[2015-08-18 00:09] fujiy commented on #21
Doesn't happen with chrome

[2015-08-18 00:11] fujiy commented on #20
I thought it was generated at server-side. Why packages update (client side) made that change?

Anyway, maybe you want to update the samples to use the latest packages.

[2015-08-18 00:14] dstrockis commented on #20
Yes, I'll make a note to update.  Client made the change to be compatible with the .NET ClaimTypes.Role enum.

[2015-08-18 00:14] dstrockis commented on #19
You can set the `RedirectUri` parameter to your desired location in `OpenIdConnectAuthenticationOptions`

[2015-08-18 00:15] dstrockis commented on #21
If you could post the failing request/response I would be interested in seeing it.

[2015-08-18 00:15] fujiy commented on #20
Thanks

[2015-08-18 00:15] #20 closed

[2015-08-18 00:26] fujiy commented on #21
Ok, I'll install fiddler.
I just found a erro on console: Potential cross-site scripting detected in 'https://login.microsoftonline.com/login.srf'. The content has been modified by the XSS Filter.

[2015-08-18 02:36] fujiy commented on #19
Worked! Very thanks

[2015-08-18 02:36] #19 closed

[2015-08-21 23:24] #21 closed

[2015-08-21 23:28] fujiy opened #22 "It it possible to receive Mobile Phone along with the other Claims?"
When you add users in Azure AD you can fill the Work Info, but this information doesn't come along with the other claims.

[2015-08-24 16:40] dstrockis commented on #22
No, its not possible today.  The claims docs are here: https://azure.microsoft.com/en-us/documentation/articles/active-directory-token-and-claims/

You can make queries to the Graph API to get this info if you wish.

[2015-08-24 16:40] #22 closed

[2015-08-24 19:41] jwooley commented on #12
We're seeing a similar issue with the redirects. Checking the cookies from chrome, it appears that we are adding a new nonce cookie each time the bounce back occurs. Has anyone else been able to confirm if the kentor fix applies globally, and if so , why does it work.

[2015-08-25 13:22] apozgaj commented on #12
I can confirm that implementation of Kentor cookie saver resolved our problem for both multi tenant and single tenant solution. If you prefer you can implement your own cookie manager.
For more information about Kentor Cookie Saver and how it can help you: https://github.com/KentorIT/owin-cookie-saver

[2015-10-11 03:20] Bartmax opened #23 "Registering new users."
It would be great if the sample have the User Registration integrated.

[2015-10-12 22:21] dstrockis commented on #23
Hey @Bartmax. Could you elaborate?  Do you mean registering the user in the app's user store/database?  Are you referring to individual auth?

[2015-10-14 22:12] Bartmax commented on #23
@dstrockis hey sure! Sorry for not being clear.

The examples all shown how to use the login workflow, but there's no indication in how/where to register the users or signup. I think it just a matter of redirect the user to the appropriate endpoint, what I was suggesting was to have it included on the sample.

[2016-04-21 18:28] wshaddix opened #24 "What is the expected behavior for posting a form with an expired session"
In this example application, what is the expected behavior when you have a view that shows the user a form and that user's auth token expires **before** they submit the form?

I know that the owin middleware handles refreshing the auth token in the background, but will the form still post after the auth token is refreshed or will it result in an HTTP GET on the view that has the form (thus loosing

[2016-05-20 01:56] johnnythinkgeo opened #25 "Issue: IDX10223: Lifetime validation failed. The token is expired"
Hi Guys,

I downloaded the sample "active-directory-dotnet-webapp-openidconnect", and completed all the configurations mentioned at https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-webapp-dotnet/, then run it in IIS 8.5, all are pretty good, no problem. Then I keep the accessed page in Chrome for one night, and try doing a refresh the next morning, however,

[2016-06-21 09:16] thuru commented on #12
I got this error in one of the applications. Used the Kentor middleware and it solved the issue. But I have no clue what this happened suddenly. There was no code changes and the app was running in production for more than 8 months.

[2016-06-22 18:13] dstrockis opened #26 "Single sign out - how to show a "you've been signed out" page/dialog"
There are several approaches to this, including:
- polling the service from js every few seconds to check for a valid session
- monitoring the ASP.NET session cookie from js for changes in session (requires non-HttpOnly)
- creating a second non-HttpOnly session cookie which can be monitored by js
- dropping a cookie when single sign out occurs and looking for that cookie on every server request
-

[2016-08-17 13:54] tomstricker opened #27 "Azure excessive charges"
Anyone wind up with a billr a couple of months trial version? for $1500 ? I made the mistake of signing up for a trial version and got socked with the bill from Spectrum Consultants (India). Is this a scam?

[2016-10-28 23:40] ppk112 opened #28 "Hotmail account not working with azure aad"
Hi,

I tried my Hotmail/live account, not able to authenticate but organizational account works fine. Is there anything I need to do for Hotmail or live account?

Thanks.

[2016-11-10 22:40] sameer-kumar opened #29 "Refresh or access tokens persistence"
In this particular sample "**Web Browser to Web Application**" flow, do I need to worry about - Refresh tokens, storage or persistence of tokens? If yes, can you point me to right direction.

Thanks for your advise!
Sam

[2017-01-06 23:08] #18 closed

[2017-01-06 23:11] danieldobalian commented on #27
It's hard to say with the info provided, but linked below is the Azure AD Pricing you can use as a reference.

https://azure.microsoft.com/en-us/pricing/details/active-directory/

[2017-01-06 23:11] #27 closed

[2017-01-06 23:33] danieldobalian commented on #29
This particular sample does not have persistent storage of tokens.  The sample link below stores tokens in a database and should be quite helpful.

https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-multitenant-openidconnect

[2017-01-06 23:33] #29 closed

[2017-01-06 23:35] #10 closed

[2017-01-06 23:43] danieldobalian commented on #28
In order to use a hotmail or live account you have to use the converged endpoint (v2 apps). Below is an OIDC .NET sample using v2 that should be what you need.

https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-v2

[2017-01-06 23:43] #28 closed

[2017-01-06 23:49] danieldobalian commented on #15
Links to doc now that explains AAD tenants.  Portal link was updated.

[2017-01-06 23:49] #15 closed

[2017-01-18 10:17] DineshMuralitharan opened #32 "IsAuthenticated is false whenever i try to login after clearing the cookie"
The Login option works fine when i launch my application. But when i clear the cookie and reload the page, the user signs out and returns to my site login page. When i try to login in, i am redirected to the office365 login page, where i login using my credentials. After successful login, the page redirects to my site home page, where i can see isauthenticated is set to false. i cant able to login

[2017-01-19 05:55] DineshMuralitharan commented on #32
This sample application works fine. But when I implement the code changes in my application, i face this issue. The only change i can notice is, version of Tokens.Jwt and Protocol.Extensions differs.

Sample Application :
System.IdentityModel.Tokens.Jwt - 4.0.2.28
Microsoft.IdentityModel.Protocol.Extensions - 1.0.2.28

My Application:
System.IdentityModel.Tokens.Jwt - 4.0.30826.1200
Microsoft.Iden

[2017-01-20 04:26] DineshMuralitharan commented on #32
I have fixed this issue. You can find the cause for this issue in the below stackoverflow question.

http://stackoverflow.com/questions/20737578/asp-net-sessionid-owin-cookies-do-not-send-to-browser

Install Kentor.OwinCookieSaver 1.1.0 nuget package. This will fix the issue.

Hope this helps others facing this issue.

[2017-01-20 04:26] #32 closed

[2017-02-09 14:15] alenjose007 commented on #12
I used [Authorize] attribute. But it is Infinite loop on login page and login url.
We have set the returnUrl as the applications home page https://server ip/name/Home.
Note: We are using MVC4
Could you please advice.

[2017-02-09 14:41] apozgaj commented on #12
Consider using Kentor Owin Cookie saver.

[2017-02-09 15:18] alenjose007 commented on #12
I am using webseal as IDp. Not using Owin authentication. Shall i use Kentor Owin Cookie saver? And could you please help how can it use? please explain.

[2017-02-17 04:08] cc-john commented on #12
I struggled with this issue for a while using the OpenIDConnect stuff. After adding some debugging I was seeing validated tokens returned from AAD (OnTokenValidated) and before the home controller was called a 401 unauthorized error came from AAD somehow. Turned out that the template created by VS2015 did not set the **ClientSecret** config value. (ClientSecret = Configuration["Authentication:Azur

[2017-02-17 22:25] danieldobalian opened #33 "Update the dependencies"
Update NuGets

[2017-02-27 11:26] ArtemZinenko opened #34 "One authorization for two applications"
I use Azure AD, OpenID Connect and Microsoft.Owin for authorization users in my two ASP.NET MVC 4.X applications. Is it possible to use a common cookie for both sites and open the login popup once but not for each site?

[2017-03-03 12:46] ArtemZinenko commented on #34
Do you have any update on this?

[2017-03-23 08:02] Martin-Yuan commented on #25
Hi Johnny,
Today i met this issue,i found the different timezone cause this issue.

[2017-03-23 09:03] johnnythinkgeo commented on #25
wow, cool!!! I will do a check, thanks for your suggestion.

[2017-05-25 05:51] darjiyogen commented on #12
I am also facing same issue in my application. I am using Azure ADFS and RBAC login. It works fine for few users. But If user is member of more than 40+ groups in Azure ADFS it just redirect to infinite loop.

Can anyone have any solution to above issue? Is there is something wrong with ADFS setting?

[2017-06-05 20:59] cilmike2 commented on #12
@darjiyogen Im having similar issues, but im having it with someone in only 7 groups.  I have noticed that if i don't include the re-direct uri in my options object in startup.auth.cs and i only have one configured in AAD then it works fine.  My problem occurs when  I add an additional URI and then specify which one i want to use in my OpenIdConnectAuthenticationOptions.  Also it seems to work fin

[2017-06-06 07:03] darjiyogen commented on #12
@cilmike2 Thanks for you suggestion. I've solved issue by splitting Cookie. I noticed that it was issue if Cookie characters are more than browsers limit (> 4096). So to overcome that issue, in set-cookie with around 4000 characters with each and when needed combine all cookie together to get original value.

[2017-06-12 22:50] cserkaran opened #35 "Redirect to a login pop up window instead of browser page direct"
For user to login in , I want to show the login page in a window pop up instead of redirecting on the same page. I am hosted my website as web part in the sharepoint which does not allow page redirection.
Is it possible to launch login page in a pop up window instead of the full browser page.

[2017-06-29 17:14] dabe5 opened #36 "government of Pakistan for their work 🏢"
- [x] today for sure but being the only person. #

[2017-06-29 17:39] #36 closed

[2017-07-24 17:22] ismail1971 opened #38 "Not able to  Single sign-out using the EndSession"
I have followed the instruction to set up the logout url for single sign out but it is not working. I have 2 apps with logout url setup. I login to the apps in the same browser tab and logout of one app but still the other app is logged in. If call the EndSession end point manually for the 2nd app then it logged out. Seems like AZURE AD is not calling the logout url automatically. Not sure if I am

[2017-10-01 00:54] swimhiking commented on #2
The testing has to be publish to Azure to work right? I try to just run in local, click login, then go to here https://localhost:44320/Account/SignIn with 400 Bad Request.

[2017-10-01 00:56] swimhiking opened #39 "Steps to follow this tutorial"
The testing has to be publish to Azure to work right? I try to just run in local, click login, then go to here https://localhost:44320/Account/SignIn with 400 Bad Request.

[2017-10-01 20:39] swimhiking commented on #39
Finally I know why it's Bad Request: because I put ida:Tenant, ida:ClientId values all in brackets: "[ ]"; remove "[ ]" all works.  I saw the Web.config file has this "[]", thought it's a "must" syntax.

[2017-10-10 03:22] sylfree9999 opened #40 "Always redirect to redirect_uri when click 'Create a new Microsoft account' while login"
Hi,

First of all, thanks very much for the code sample.

I am studying the WebApp-OpenIDConnect-DotNet Sample, but I found out when clicking the Create a new Microsoft account, it always redirect to the redirect_uri that I set in the web.config.
![20171010110851](https://user-images.githubusercontent.com/15099465/31367978-59dcdeb0-adad-11e7-976d-a97d0f087f72.png)

Is there any way this can redire

[2017-11-21 21:13] elgatorico opened #42 "IDX10500: Signature validation failed"
Hi there.
I'm kinda new to OpenIdConnect and also Azure AD, so please bear with me.

We have Azure AD and also a bunch of home-made c# MVC applications we want to integrate with Azure SSO to enhance the user experience. I understand the way to do it is through OpenIdConnect and I'm using your example as a base, however, I'm running into an error message.

This is how to reproduce it on our side:
-

[2017-12-28 13:21] larrybud2004 commented on #42
I get *EXACTLY* the same error in trying to run this sample.

[2018-01-18 11:03] pkmahapatra opened #43 "Hosting in Local IIS throws exception"
I have recreated the application and it works fine when run under IIS Express. But when it is hosted in Local IIS it throws the following exception -
![image](https://user-images.githubusercontent.com/31986903/35095048-2cb9a224-fc6d-11e7-9e7c-002fb9471f7c.png)

Please help

[2018-01-23 09:47] pkmahapatra commented on #43
After doing some homeworks and googling I found that the reason for the above exception is due to the following -

The web server cannot communicate   with the public URL/IP address because of strong Firewall rules or the public   IP and the internal IP of the web server communicate via a proxy IP
--

Now I am not sure how to overcome this problem .....

[2018-02-12 20:58] bharney commented on #12
@darjiyogen Thank you for mentioning this issue. We also had a rather large cookie which was greater than the 4096 byte limit. The problem was resolved after addressing the size of the cookie.

[2018-03-02 03:11] RolandLeFranc opened #44 "README Step 2-5 incomplete"
Please add at the end:
Make sure you select the display setting "All apps" (not "My apps") to be able to see the application you've just created.

[2018-03-02 03:11] RolandLeFranc commented on #44
It's made me lose 15 minutes...

[2018-03-05 22:11] #44 closed

[2018-03-05 22:11] jmprieur commented on #44
thanks @RolandLeFranc . this is fixed.

[2018-03-08 01:29] TommySharpNZ opened #45 "Integrate Azure AD into a web application using OAuth 2.0"
Hey everyone, sorry I'm looking for this exact content and examples but that shows how to use OAuth 2.0.

Anyone able to help me out with links or something???

[2018-03-15 04:59] rashnk opened #46 "Returning this error"
Error.We're having trouble signing you in. 
IDX21323: RequireNonce is '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSource.cs to true to reveal it.]'. OpenIdConnectProtocolValidationContext.Nonce was null, OpenIdConnectProtocol.ValidatedIdToken.Payload.Nonce was not null. The nonce cannot be validated. If you don't need to check the nonce, set OpenIdConnectProtocolValidat

[2018-03-28 17:19] mturscak commented on #2
Thanks for the comment, anujc. I was having the same issue and I changed the reply url to the main page url in both the portal and the web config, and that fixed the problem. Now I can log in as a user to the published web app.

[2018-03-28 22:39] mturscak commented on #34
I also would like to know about this.

[2018-03-29 07:18] jmprieur commented on #2
Indeed, when deploying to Azure one needs to add a Reply URL in the application registration in the Azure portal.

[2018-03-29 07:18] #2 closed

[2018-04-02 14:03] danilocecilia commented on #25
hi @johnnythinkgeo , did you get it solve? im running on this same problem, but couldn´t find any solution yet.

[2018-05-02 20:26] bh3605 opened #47 "Application doesn't use Microsoft.IdentityModel.Protocols.OpenIdConnect"
This is suppose to be an example for using Microsoft.IdentityModel.Protocols.OpenIdConnect, but instead it's using OWIN. Either specify why you choose to use Owin's way or use it. Same thing with the WsFederation example. There aren't any examples of Microsoft.IdentityModel.Protocols.OpenIdConnect (or it's WsFederation equivalent) anywhere so there must be some reason you guys aren't using it. =/

[2018-05-03 09:10] jmprieur commented on #45
@TommySharpNZ : OpenID Connect is a derivation of OAuth 2.0.. Whereas OAuth 2.0 does not specify the shape of the token, for instance, OpenIDConnect decides that this will be JWT.
So this is using OAuth 2.0

You can also find some more recent ASP.NET Core 2.0 samples in [Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore ](https://github.com/Azure-Samples/active-directory-dotnet

[2018-05-03 09:10] #45 closed

[2018-05-03 09:10] jmprieur commented on #3
Indeed, you would need to change the Redirect URI, both in the code, and in the App registration for the application

[2018-05-03 09:10] #3 closed

[2018-05-03 09:11] jmprieur commented on #4
The sample had a .nuget folder which should no longer be here with recent versions of VS and MSBuild. It's removed things build fine now.

[2018-05-03 09:11] #4 closed

[2018-05-03 09:12] #11 closed

[2018-05-03 09:12] #12 closed

[2018-05-03 09:15] jmprieur commented on #23
you might want to have a look at https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp

[2018-05-03 09:15] #23 closed

[2018-05-03 11:56] jmprieur commented on #17
This also works with login.microsoftonline.com.

[2018-05-03 11:56] #17 closed

[2018-05-03 11:57] jmprieur commented on #26
You now have the "you've been signed out" page.

[2018-05-03 11:57] #26 closed

[2018-05-03 11:58] jmprieur commented on #34
Cookies are only for one domain..

[2018-05-03 11:58] #34 closed

[2018-05-03 12:01] jmprieur commented on #42
which kind of email do you use to sign-in? are you using an email from a user in the same tenant you've done the registration?
I suggest you try the app creation scripts I've added to the sample to be sure it's configured correctly.

[2018-05-03 12:01] #42 closed

[2018-05-03 12:02] jmprieur commented on #43
you probably need to add rules to your firewall to let the traffic through IIS.
Closing this issue as this is not an issue with the sample.

[2018-05-03 12:02] #43 closed

[2018-05-03 12:03] jmprieur commented on #46
I've just updated the sample with recent NuGet packages and tests. Closing this issue. Feel free to reopen if this has not fixed it?

[2018-05-03 12:03] #46 closed

[2018-05-03 12:06] jmprieur commented on #47
The application is using ASP.NET 4.x, which leverages the ASP.NET OWIN middleware itself leveraging the Microsoft.IdentityModel.Protocols library. OWIN, in that version abstracts things. you might want to have a look to more recent implementations for instance .NET Core 2.0: https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore

[2018-05-03 12:06] #47 closed

[2018-05-03 16:03] kalyankrishna1 commented on #40
Hi, did you end up on the screenshot below using this sample?
I have always been able to capture auth flows and tokens using fiddler. Do you have the "capture https" options checked? Fiddler root cert placed in correct container ?

[2018-05-03 16:14] kalyankrishna1 commented on #25
It usually happens if your machine's time settings are incorrect.

[2018-05-03 16:14] #25 closed

[2018-05-04 05:27] kalyankrishna1 commented on #40
Reopening this as I pressed the wrong button and ended up closing this thread after asking questions :)

[2018-05-04 22:20] kalyankrishna1 commented on #24
Does this [Is there a default value to the Azure Active Directory token expiration timeout?
](https://stackoverflow.com/questions/30042234/is-there-a-default-value-to-the-azure-active-directory-token-expiration-timeout) answer your question ?

[2018-05-10 15:15] samgithub-duplicate opened #49 "Access Problem after signing in"
After successfully signing in a user to the app (using this Azure AD sample),  User can navigate to dashboard of "portal.azure.com"

Is there way to keep the user out of **portal.azure.com**?

[2018-05-25 07:54] kalyankrishna1 commented on #24
The article [Controlling a Web App’s session duration](http://www.cloudidentity.com/blog/2016/07/25/controlling-a-web-apps-session-duration-2/) discusses this problem and suggests a solution

[2018-05-25 07:54] #24 closed

[2018-05-29 16:47] bh3605 commented on #47
I'm updating a webforms app. Was gonna roll my own implementation since there's no real example of using open id and neither the mvc nor the .net core versions really translate into what needs to be accomplished.

[2018-05-29 18:29] jmprieur commented on #47
Thanks for the update, @bh3605
If you come-up with a solution that suits your needs (I'm not sure I understand which they are), and want to share it with others, don't hesitate to add a comment with a link to your repo in the future

[2018-06-12 09:13] jmprieur commented on #49
@samgithub-duplicate : I don't understand the question. Can you please provide detailed repro steps?

[2018-07-17 20:24] brubakerjeff opened #50 "Error running - System.TypeLoadException Invalid type SMSaml2HandlerPrivate for instance field Microsoft.IdentityModel.Tokens.Saml2SecurityTokenHandler:_smSaml2HandlerPrivateNeverSetAnyProperties"
Hi,

I cloned the repository and am running on Visual Studio 2017 on Mac. I did nuget restore. I changed the Tenant and ClientID to match the test tenant. I am getting the following error when running. Could I get any assistance or breadcrumbs to trace further?

**System.TypeLoadException
Invalid type SMSaml2HandlerPrivate for instance field Microsoft.IdentityModel.Tokens.Saml2SecurityTokenHandler

[2018-07-17 22:06] kalyankrishna1 commented on #50
Are you working with a SAML federation provider? Please check to ensure that the location of the SAML metadata and its contents are correct.

[2018-07-17 22:08] brubakerjeff commented on #50
Was under the impression it was OWIN/OpenID. Where would I check for SAML?

[2018-07-18 23:49] brubakerjeff commented on #50
Thank you. I was able to clone and run on visual studio 2017 on windows and the sample worked within expectations. Is visual studio 2017 on Mac supported(let me know any feedback if this is an incorrect expectation with the open model). I attempted to debug and increased version levels of packaged and .net framework but was unable to converge. Could someone more knowledgeable than I run with the c

[2018-07-20 20:47] Shreelekha19 commented on #12
My case was little different , hope it helps someone.

I also got the same issue but I knew somewhere it is not redirecting to correct link.
I saw that even though in startup .. redirect property of openid was set to SSL url but when i looked at application properties -->web--> Project url --> it was not pointed to SSL url but http URL.

Pointing to SSL url fixed.

[2018-08-09 08:42] jmprieur commented on #40
@sylfree9999 : closing this thread. Feel free to reopen if you want to answer Kalyan's question;

[2018-08-09 08:42] #40 closed

[2018-08-09 08:43] jmprieur commented on #49
Closing this issue as the question was not answered (and the described behavior cannot be reproed and does not make sense for the sample)

[2018-08-09 08:43] #49 closed

[2018-08-09 08:45] jmprieur commented on #38
@ismail1971 for a single sign-out you might want to have a look at the following sample:
https://github.com/Azure-Samples/active-directory-dotnet-web-single-sign-out

Closing this issue as I think the question is answered
cc: @kalyankrishna1

[2018-08-09 08:45] #38 closed

[2018-08-20 14:54] bdebaere opened #51 "Integration testing"
I'm trying to get an integration test going for an API with authentication. Because some API functions call other API's on behalf of the user and this allows us to test everything before publishing.

The problem is I keep getting a 302 redirect even though I pass the token in the header. I'm not familiar with OpenID so perhaps I'm filling in the wrong header(s)? I've pretty much copy pasted the St

[2018-08-21 12:41] bdebaere commented on #51
https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/issues/40

[2018-08-21 12:41] #51 closed

[2018-10-06 13:39] erikbra commented on #50
Same problem here on an existing asp.net web app which runs fine on Windows. Spits out the following in the browser:

![image](https://user-images.githubusercontent.com/1628994/46571922-e97a4700-c97d-11e8-8fec-3144b2466285.png)

[2018-10-06 15:00] brubakerjeff commented on #50
I was wanting to recommit but have not had time and not quit sure all the policies. If you upgrade to ASP.Net Core and correct all dependencies it should compile

[2018-10-10 15:45] udderchaos opened #52 "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application"
I have the error AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application,

I followed the steps for setting up the wepAPI app registration setting https://localhost:44320/ as one of the reply urls and also as the home page URL

I took the appID and created a key, taking the key value and I have changed no code just updated the appsettings.js

[2018-10-10 18:14] jmprieur commented on #52
@udderchaos : this is an application registration issue. Are you sure you have put the / at the end of the reply URL in the Azure portal? https://localhost:44320/ ?

Alternatively did you try to run the auto configuration for the sample (See https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect/blob/master/AppCreationScripts/AppCreationScripts.md)

[2018-10-10 19:49] udderchaos commented on #52
Thanks for getting back so quick, yeah I've put / at the end, still no luck. Haven't run the auto config scripts, was hoping to understand why these steps didn't work rather than run some magic that i cant explain or replicate myself :)

[2018-10-10 21:28] jmprieur commented on #52
@udderchaos : I understand :)
If you still have the issue then, I'll try to have a look at the step, but can't be before next week ....

[2018-10-23 13:41] jmprieur commented on #52
@udderchaos : did you solve your problem?

[2018-10-23 13:42] jmprieur commented on #50
@brentschmaltz @mafurman  : FYI. Is it a known issue?

[2018-10-23 14:14] udderchaos commented on #52
Nope, it's not urgent - I'm using a function with MSI at this point for my use case. But might be useful for investigating for other users?

[2018-10-23 19:40] brentschmaltz commented on #50
@jmprieur I have not seen this before. This looks like perhaps an extension property as Saml2HandlerPrivateNeverSetAnyPropeties is not a property on m.im.tokens.saml2securitytokenhandler

[2018-11-16 18:51] elgatorico commented on #11
Were you guys able to reproduce this reliably and address the issue? We are noticing this exception coming up every once in a while in our logs. We are unsure if users experience issues when this happens.

[2019-01-11 21:35] BatmanAMA opened #53 "Please update to asp.net core 2.x"
This sample is outdated.

[2019-02-14 03:08] josh-monreal opened #54 "How do I Get the User Information After Signing In?"
Is it possible to extract the details such as **email address** and other information stored in Azure AD for the logged in user?

[2019-02-14 09:55] jmprieur commented on #54
@josh-monreal I suggest you have a look at the following sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2, which is more recent, and will answer these questions (typically the information is in the Principal, and you can call the Microsoft Graph to get all the information you want on the user)

[2019-02-16 04:12] ntimmerman commented on #52
I have this problem too.

[2019-02-18 08:54] jmprieur commented on #52
@ntimmerman can you please tell me:
- what is the reply URI registered in the portal?
- At which reply URI Visual Studio launches your web app (assuming you have the issue when you debug)

cc: @kalyankrishna1

[2019-02-18 16:43] ntimmerman commented on #52
Hi @jmprieur, I think what I was potentially encountering some kind of Azure Portal problem where the value I was saving in Reply URLs was not actually saving properly. I noticed there was two sections in the Azure AD blade: App Registrations and App Registrations (Preview). I tried the Preview out and immediately it began working with zero changes to code configuration on the client side.

[2019-02-18 16:48] jmprieur commented on #52
thanks for confirming, @ntimmerman
Closing this issue./

[2019-02-18 16:48] #52 closed

[2019-02-18 16:52] ntimmerman commented on #52
Thinking back a bit upon this now, I also think I was potentially not being patient enough to wait for Azure to complete the save. So, I would rapidly click the "save" button, flip back to Visual Studio and retry immediately, and then when it failed, assumed I had entered the wrong thing and tried a different value. The problem with that is, Azure Portal is very asynchronous -- we have to wait for

[2019-02-18 21:29] kalyankrishna1 commented on #53
Closing a this issue seems resoved

[2019-02-18 21:29] #53 closed

[2019-02-18 21:29] kalyankrishna1 commented on #54
Closing as this issue seems resolved

[2019-02-18 21:29] #54 closed

[2019-07-15 15:34] phanikir opened #60 "How to load test app with openid connect authentication"
Can you let us know how to configure openid connect authentication to do load test

[2019-12-27 07:06] biyro02 opened #61 "URL's are true but i get this error: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application"
I wrote it wrong place. Sorry. Carrying true way. Sorry. You can delete this post. I can not.

[2020-01-03 19:40] mmacy commented on #61
Thanks for the update, @biyro02 - closing issue.

[2020-01-03 19:40] #61 closed, assigned to nobody

[2020-01-22 21:14] TiagoBrenck commented on #50
Closing as we are archiving this sample.

The newer one can be found at: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC

[2020-01-22 21:14] #50 closed

[2020-01-22 21:16] TiagoBrenck commented on #60
Hi, you can find some tests here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/865145b6986fa373ba916739c85fe8843ebc6d85/tests

Closing as we are archiving this sample.

The newer one can be found at: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC

[2020-01-22 21:16] #60 closed, assigned to nobody